* {
  margin: 0;
  padding: 0; }

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "encabezado" "navegacion" "logo" "principal" "pie";
  background-color: #fce1e9; }

header {
  grid-area: encabezado;
  background-color: #dffcfc; }

header h1 {
  color: #ff2a94;
  margin: auto;
  width: fit-content;
  font-family: 'Comfortaa', cursive;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Gentium Plus', serif;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 90px; }

.navegacion {
  grid-area: navegacion;
  background-color: #dffcfc; }
  .navegacion nav {
    background-color: #dffcfc; }

.navbar-brand {
  color: #ff2a94;
  font-family: "Comfortaa", cursive;
  font-family: "Cormorant Garamond", serif;
  font-family: "Gentium Plus", serif;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 30px;
  display: none; }

.nav-link {
  color: #e2977e;
  font-size: 30px;
  margin: 10px; }

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #e2977e; }

.logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #fce1e9; }
  .logo a img {
    max-width: 100%; }

main {
  grid-area: principal;
  background-color: #dffcfc;
  font-family: 'Comfortaa', cursive;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Gentium Plus', serif; }

.descripcion {
  font-family: Gentium Plus;
  background-color: #dffcfc;
  text-align: justify;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;
  font-size: 20px; }

h2 {
  margin: auto;
  padding: auto;
  width: fit-content;
  font-size: 45px;
  color: #e27092; }

h3 {
  margin: auto;
  padding: auto;
  width: fit-content;
  font-size: 40px;
  color: #e2977e; }

/* footer*/
footer {
  grid-area: pie;
  background-color: #dddddd; }

.btnFooter {
  background-color: palevioletred;
  border: solid 1px #e2977e;
  border-radius: 5px;
  width: 100%; }

.redes {
  text-align: center; }

.contenedorSociales {
  margin-left: 20px;
  font-size: 20px;
  color: #e4556d; }
  .contenedorSociales a {
    font-size: 20px; }

.bandera {
  text-align: center; }

.chef {
  margin-left: 20px; }

.chef a {
  color: #e4556d; }

.company {
  color: #e4556d; }

.grilla {
  background-color: #b8eedc; }

.ingrediente {
  border: solid 1px #e2977e;
  border-radius: 5px;
  font-size: 20px; }

.calzon {
  width: 40%;
  height: 300px;
  margin: auto;
  border: solid 3px #e2977e;
  border-radius: 5px;
  display: block; }

.foto {
  width: 40%;
  height: 300px;
  margin: 15px auto;
  border: solid 3px #e2977e;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  animation: amasado 15s infinite; }

@keyframes amasado {
  0% {
    background-image: url(../imagenes/harina.jpg); }
  25% {
    background-image: url(../imagenes/masa.jpg); }
  50% {
    background-image: url(../imagenes/bollos-pan.jpg); }
  75% {
    background-image: url(../imagenes/pan.jpg); }
  100% {
    background-image: url(../imagenes/pan4.jpg); } }

.imagenResaltada_cocinera {
  margin: auto;
  margin-left: 520px;
  border: solid 4px #c593c5; }
  .imagenResaltada_cocinera:hover {
    transform: scale(2); }

.formato {
  padding: 15px;
  width: 70%;
  color: black;
  font-weight: bold;
  background: #a8d3d4;
  font-size: 1.2rem;
  border-radius: 5px;
  margin-left: 200px; }

.textoFormulario {
  font-size: 20px;
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  height: 20px;
  border: none;
  text-align: center; }

input {
  height: 40px;
  size: 50px;
  text-align: center; }

.btn {
  background-color: palevioletred;
  margin-left: 430px; }

.concepcion {
  font-size: 20px; }

@media screen and (max-width: 530px) {
  header h1 {
    display: none; }
  .nav-link {
    font-size: 20px; }
  .navbar-brand {
    display: block; } }
