* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

h1 {
  color: #ff2a94;
  margin: auto;
  width: fit-content;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 800;
  font-size: 80px; }

h2 {
  margin: auto;
  padding: auto;
  width: fit-content;
  font-size: 45px; }

h3 {
  margin: auto;
  padding: auto;
  width: fit-content;
  font-size: 30px; }

h4 {
  margin-left: 30px;
  font-weight: 200;
  font-size: 20px;
  text-decoration: none; }

nav {
  background-color: #dffcfc; }

.nav-link {
  color: #e2977e;
  font-size: 30px;
  margin: 10px;
  margin-left: 100px;
  height: 40px;
  width: auto; }

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #e2977e; }

/* body */
/* layout con grid */
body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 30uh;
  background-image: url(../imagenes/fondo-comida.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 200px 1fr 300px;
  grid-template-areas: "encabezado" "logo" "principal" "pie"; }

.descripcion {
  font-family: Gentium Plus;
  background-color: #dffcfc;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;
  font-size: 20px; }

header {
  height: 150px;
  grid-area: encabezado;
  background-color: #f1e5e7; }

.logo {
  display: flex;
  justify-content: center;
  align-content: center;
  grid-area: logo;
  /* background-color: rgb(248, 228, 231); */ }

main {
  background-color: #dffcfc;
  font-family: 'Comfortaa', cursive;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Gentium Plus', serif;
  grid-area: principal; }

/* footer*/
footer {
  grid-area: pie;
  background-color: #dddddd;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70%; }

.btnFooter {
  background-color: palevioletred;
  border: solid 1px #e2977e;
  border-radius: 5px; }

.contenedorSociales a {
  font-size: 20px;
  color: #e4556d; }

.redes {
  text-align: center; }

.contenedorSociales {
  margin-left: 20px;
  font-size: 20px; }

.bandera {
  text-align: start; }

.chef {
  margin-left: 20px; }

.chef a {
  color: #e4556d; }

.company {
  color: #e4556d; }

.imagenResaltada_cocinera {
  margin: auto;
  margin-left: 520px;
  border: solid 4px #c593c5; }
  .imagenResaltada_cocinera:hover {
    transform: scale(2); }

.descripcion {
  font-family: Gentium Plus;
  background-color: #dffcfc;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;
  font-size: 20px; }

@media screen and (max-width: 768px) {
  h1 {
    font-size: 85px; }
  .descripcion {
    font-size: 40px; }
  body {
    background-image: none;
    background-color: #fce1e9; }
  h3 {
    font-size: 10vw;
    margin-top: 20px; }
  h4 {
    font-size: 35px; } }

@media screen and (max-width: 490px) {
  h1 {
    font-size: 90px; }
  .descripcion {
    font-size: 50px;
    text-align: justify; }
  body {
    background-image: none;
    background-color: #fce1e9;
    grid-template-rows: 300px 200px 1fr 700px; }
  h2 {
    font-size: 65px; }
  h3 {
    font-size: 20vw;
    margin-top: 20px; } }
