* {
  margin: 0;
  padding: 0; }

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "encabezado" "navegacion" "logo" "principal" "pie";
  background-color: white; }

header {
  grid-area: encabezado;
  background-color: white; }

header h1 {
  color: #ff9292;
  margin: auto;
  width: fit-content;
  font-family: 'Comfortaa', cursive;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Gentium Plus', serif;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 90px; }

.navegacion {
  grid-area: navegacion;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  .navegacion nav {
    background-color: white; }

.navbar-brand {
  color: #ff9292;
  font-family: "Comfortaa", cursive;
  font-family: "Cormorant Garamond", serif;
  font-family: "Gentium Plus", serif;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 30px;
  display: none; }

.nav-link {
  color: #e2977e;
  font-size: 30px;
  margin: 10px; }
  .nav-link:hover {
    color: #e4556d;
    transition: color;
    font-weight: bold; }

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #e2977e; }
  .navbar-nav .nav-link.active:hover,
  .navbar-nav .show > .nav-link:hover {
    color: #e4556d;
    transition: color;
    font-weight: bold; }

.logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: white; }

.logo a img {
  max-width: 100%; }

main {
  grid-area: principal;
  background-color: white;
  font-family: 'Comfortaa', cursive;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Gentium Plus', serif; }

.descripcion {
  font-family: Gentium Plus;
  background-color: white;
  text-align: justify;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;
  font-size: 20px; }

h2 {
  margin: auto;
  padding: auto;
  width: fit-content;
  font-size: 35px;
  color: #ff9292;
  margin-bottom: 10px;
  margin-top: 15px; }

h3 {
  margin: auto;
  padding: auto;
  width: fit-content;
  font-size: 30px;
  color: #ff9292;
  margin-bottom: 20px;
  font-weight: bolder; }

/* footer*/
footer {
  grid-area: pie;
  background-color: #FFE699; }

.btnFooter {
  background-color: palevioletred;
  border: solid 1px #e2977e;
  border-radius: 5px;
  width: 100%;
  color: white; }

.redes {
  text-align: center; }

.contenedorSociales {
  margin-left: 20px;
  font-size: 20px;
  color: #e4556d; }
  .contenedorSociales a {
    font-size: 20px; }

.suscripcion {
  color: #e4556d; }

h5 {
  color: #e4556d; }

.tituloChef {
  color: #e4556d; }

.bandera {
  text-align: center; }

.chef {
  margin-left: 20px; }

.chef a {
  color: #e4556d; }

.company {
  color: #e4556d; }

.grilla {
  background-color: #fff9b6; }

.ingrediente {
  border: solid 1px #e2977e;
  border-radius: 5px;
  font-size: 20px; }

.calzon {
  max-width: 70%;
  height: 250px;
  margin: auto;
  margin-bottom: 15px;
  border: solid 3px #e2977e;
  border-radius: 5px;
  display: block; }

.foto {
  max-width: 50%;
  height: 300px;
  margin: 15px auto;
  border: solid 3px #e2977e;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  animation: amasado 15s infinite; }

@keyframes amasado {
  0% {
    background-image: url(../imagenes/harina.jpg); }
  25% {
    background-image: url(../imagenes/masa.jpg); }
  50% {
    background-image: url(../imagenes/bollos-pan.jpg); }
  75% {
    background-image: url(../imagenes/pan.jpg); }
  100% {
    background-image: url(../imagenes/pan4.jpg); } }

.imagenResaltada_cocinera {
  display: block;
  margin: auto;
  border: solid 1px #e2977e;
  border-radius: 5px; }
  .imagenResaltada_cocinera:hover {
    transform: scale(2); }

.video {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 100%; }

.videoMaquina {
  border: solid 1px #e2977e;
  border-radius: 5px; }

.formato {
  padding: 15px;
  max-width: 70%;
  color: black;
  font-weight: bold;
  background: #fff9b6;
  font-size: 1.2rem;
  border-radius: 5px;
  border: solid 1px #e2977e; }

input {
  height: 40px;
  size: 50px;
  text-align: center; }

.btn {
  background-color: palevioletred;
  margin: 0 auto;
  display: block;
  color: black;
  border: solid 1px #e2977e; }

.concepcion {
  font-size: 20px;
  text-align: justify; }

@media screen and (max-width: 530px) {
  header h1 {
    display: none; }
  .navbar-expand-lg {
    width: 100%; }
  .nav-link {
    font-size: 20px; }
  .navbar-brand {
    display: block; }
  /* receta */
  .calzon {
    max-width: 70%;
    height: 150px; }
  /* maquinas */
  .video {
    overflow: hidden;
    padding-bottom: 150px;
    position: relative;
    height: 0; }
  .videoMaquina {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }
  /* quien soy */
  .foto {
    max-width: 80%;
    height: 150px; } }
