.formato {
    padding: 15px;
    max-width: 70%;
    color: black;
    font-weight: bold;
    background: #a8d3d4;
    font-size: 1.2rem;
    border-radius: 5px;
}

input {
    height: 40px;
    size: 50px;
    text-align: center;
}
.btn {
    background-color:$bgcolorBoton;
}
.concepcion {
    font-size: 20px;
    text-align: justify;
}