.formato {
    padding: 15px;
    width: 70%;
    color: black;
    font-weight: bold;
    background: #a8d3d4;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-left: 200px;
}
.textoFormulario {
    font-size: 20px;
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    height: 20px;
    border: none;
    text-align: center;
}
input {
    height: 40px;
    size: 50px;
    text-align: center;
}
.btn {
    background-color:$bgcolorBoton;
    margin-left: 430px;
}
.concepcion {
    font-size: 20px;
}