*{
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "encabezado"
        "navegacion"
        "logo"
        "principal"
        "pie";
    background-color: rgb(252, 225, 233);
}

header{
    grid-area: encabezado;
    background-color: $bgcolorprincipal;
  }

header h1 {
    color: map-get($colores, "color-titulo");
    margin: auto;
    width: fit-content;
    font-family: 'Comfortaa', cursive;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Gentium Plus', serif;
    font-family: 'Quicksand', sans-serif; 
    font-weight: bold;
    font-size: 90px;
}

.navegacion {
    grid-area: navegacion;
    background-color: $bgcolorprincipal;

 & nav {
    background-color:$bgcolorprincipal
  }
}
.navbar-brand {
    color:map-get($colores ,"color-titulo");
    font-family: "Comfortaa", cursive;
    font-family: "Cormorant Garamond", serif;
    font-family: "Gentium Plus", serif;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 30px;
    display: none;
  }

.nav-link{
    color:map-get($colores,"color-menu");
    font-size: 30px;
    margin: 10px;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color:map-get($colores,"color-menu");
}

.logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(252, 225, 233);   
}
.logo a img {
    max-width: 100%;
}

main {
    grid-area: principal;
    background-color: $bgcolorprincipal;
    font-family: 'Comfortaa', cursive;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Gentium Plus', serif; 
}

.descripcion {
    font-family: Gentium Plus;
    background-color:$bgcolorprincipal;
    text-align: justify;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 20px;
}

h2 {
    @include titulos(35px,rgb(226, 112, 146));
}

h3 {
   @include titulos(30px,rgb(226, 151, 126));
}

/* footer*/
footer {
    grid-area: pie;
    background-color: rgb(221, 221, 221);
}

.btnFooter {
    background-color: $bgcolorBoton;
    border: $border;
    border-radius: 5px;
    width: 100%;
}

.redes {
    text-align: center;
}
.contenedorSociales {
    margin-left: 20px ; 
    font-size: 20px;
    color:map-get($colores,"color-footer");
 
    & a {
    font-size: 20px;
}
}

.bandera {
    text-align: center; 
   
}
.chef {
    margin-left: 20px;

}
.chef a {
    color:map-get($colores ,"color-footer");
}
.company{
    color: map-get($colores ,"color-footer");
}


