.descripcion {
    font-family: Gentium Plus;
    background-color: rgb(223, 252, 252);
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 20px;
}