@media screen and (max-width:768px) {
    h1 {
        font-size: 85px;
    }
    .descripcion {
        font-size: 40px;
    }
    body {
        background-image: none;
        background-color: rgb(252, 225, 233);
    }
    h3 {
        font-size: 10vw;
        margin-top: 20px;
    }
    h4 {
        font-size: 35px;
    }
}

@media screen and (max-width: 490px) {

    h1 {
        font-size: 90px;
    }

    .descripcion {
        font-size: 50px;
        text-align: justify;
    }

    body {
        background-image: none;
        background-color: rgb(252, 225, 233);
        grid-template-rows: 300px 200px 1fr 700px;
    }
    h2 {
        font-size: 65px;
    }

    h3 {
        font-size: 20vw;
        margin-top: 20px;
    }
    h4 {
        font-size: 10vw;
    }
    h5{
        font-size: 9vw
    }
    .concepcion {
        font-size: 50px;
    }

    footer{
        width: 100%;
        height: 90%;
    }
    .chef a {
        font-size: 30px;
    }
    .suscripcion{
        font-size: 40px;
    }
    /* receta */
    .ingrediente{
        font-size: 40px;
    }
}