
@media screen and (max-width: 530px) {

    header h1 {
        display: none;
      }

    .nav-link {
        font-size: 20px;
      }
    
      .navbar-brand {
        display: block;
      }


      .calzon{
        max-width: 70%;
        height: 150px;
        
    }
    .foto {
        max-width: 80%;
        height: 150px;
       
    }
    
    }
