$border: solid 1px rgb(226, 151, 126);

$colores:( 
"color-menu": rgb(226, 151, 126),
"color-footer": rgb(228, 85, 109)
);

$bgcolorBoton:palevioletred;
$bgcolorprincipal:rgb(223, 252, 252);


@mixin titulos($fsize,$textcolor){
    margin: auto;
    padding: auto;
    width: fit-content;
    font-size:$fsize;
    color: $textcolor;
}