* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}

/* titulo */
h1 {
    color: rgb(255, 42, 148);
    margin: auto;
    width: fit-content;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 80px;
}

/* nav */
.nav-link {
    color: rgb(226, 151, 126);
    font-size: 30px;
    margin: 10px;
    margin-left: 100px;
    height: 40px;
    width: auto;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: rgb(226, 151, 126);
}

/* body */
/* layout con grid */
body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 30uh;

    background-image: url(./imagenes/sombrero.jpg);
    background-size: cover;
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 200px 1fr 300px;
    grid-template-areas:
        "encabezado"
        "logo"
        "principal"
        "pie";
}
.descripcion {
    font-family: Gentium Plus;
    background-color: rgb(223, 252, 252);
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 20px;
}
header {
    height: 150px;
    grid-area: encabezado;
}
.logo {
    display: flex;
    justify-content: center;
    align-content: center;
    grid-area: logo;
}
main {
    background-color: rgb(223, 252, 252);
    font-family: 'Comfortaa', cursive;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Gentium Plus', serif;
    grid-area: principal;
}

/* receta */
h2 {
    margin: auto;
    padding: auto;
    width: fit-content;
    font-size: 45px;
}
h3 {
    margin: auto;
    padding: auto;
    width: fit-content;
    /* font-weight: 200; */
    font-size: 30px;
}
h4 {
    margin-left: 30px;
    font-weight: 200;
    font-size: 20px;
    text-decoration: none;
}
.grilla {
    background-color: rgb(184, 238, 220);
}
.ingrediente {
    border: solid 1px rgb(226, 151, 126);
    border-radius: 5px;
    font-size: 20px;
}
.foto {
    width: 40%;
    height: 300px;
    margin: 15px auto;
    border: solid 3px rgb(226, 151, 126);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: amasado 15s infinite;
}
@keyframes amasado {
    0% {
        background-image: url(./imagenes/harina.jpg);
    }

    25% {
        background-image: url(./imagenes/masa.jpg);
    }

    50% {
        background-image: url(./imagenes/bollos-pan.jpg);
    }

    75% {
        background-image: url(./imagenes/pan.jpg);
    }

    100% {
        background-image: url(./imagenes/pan4.jpg);
    }

}

/* maquinas */

/* quien soy */
.imagenResaltada_cocinera {
    margin: auto;
    margin-left: 520px;
    border: solid 4px rgb(197, 147, 197);
}
.imagenResaltada_cocinera:hover {
    transform: scale(2);
}

/* contacto */
.formato {
    padding: 15px;
    width: 70%;
    color: black;
    font-weight: bold;
    background: #a8d3d4;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-left: 200px;
}
.textoFormulario {
    font-size: 20px;
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    height: 20px;
    border: none;
    text-align: center;
}
input {
    height: 40px;
    size: 50px;
    text-align: center;
}
.btn {
    background-color: palevioletred;
    margin-left: 430px;
}
.concepcion {
    font-size: 20px;
}

/* footer*/
footer {
    grid-area: pie;
    background-color: rgb(221, 221, 221);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.contenedorSociales a {
    font-size: 20px;
    color: rgb(228, 85, 109);
}
.redes {
    text-align: center;
}
.contenedorSociales {
    margin-left: 200px;
    font-size: 20px;
}
.bandera {
    text-align: start;
}
.chef {
    margin-left: 20px;

}
.chef a {
    color: rgb(228, 85, 109);
}


@media screen and (max-width:768px) {

    h1 {
        font-size: 85px;
    }
    .descripcion {
        font-size: 40px;
    }
    body {
        background-image: none;
        background-color: rgb(252, 225, 233);
    }

    /* receta pan */
    .ingrediente {
        font-size: 30px;
    }

    /* contacto */
    h3 {
        font-size: 10vw;
        margin-top: 20px;
    }
    h4 {
        font-size: 35px;
    }
    .concepcion {
        font-size: 30px;
    }
    .bandera {
        text-align: center;
    }

     /* footer */
   footer {
        background-color: beige;
    } 
}

@media screen and (max-width: 480px) {

    h1 {
        font-size: 90px;
    }

    .descripcion {
        font-size: 70px;
        text-align: justify;
    }

    body {
        background-image: none;
        background-color: rgb(252, 225, 233);
        grid-template-rows: 300px 200px 1fr 700px;
    }

    /* receta pan */
    .ingrediente {
        font-size: 60px;
    }

    /* contacto */
    .concepcion {
        font-size: 60px;
    }

    h2 {
        font-size: 65px;
    }

    h3 {
        font-size: 20vw;
        margin-top: 20px;
    }

    h4 {
        font-size: 55px;
    }

   /* footer */
    .contenedorSociales a {
        font-size: 50px;
    }

    .redes {
        text-align: center;
    }

    .bandera {
        text-align: center;
    }

    .chef a {
        font-size: 50px;
    }  

}