* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "encabezado"
    "navegacion"
    "logo"
    "principal"
    "pie";
}

header {
  grid-area: encabezado;
  background-color: rgb(223, 252, 252);
}

header h1 {
  color: rgb(255, 42, 148);
  margin: auto;
  width: fit-content;
  font-family: "Comfortaa", cursive;
  font-family: "Cormorant Garamond", serif;
  font-family: "Gentium Plus", serif;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 90px;
}

.navegacion {
  grid-area: navegacion;
  background-color: rgb(223, 252, 252);
}

.navegacion > nav {
  background-color: rgb(223, 252, 252);
}

.navbar-brand {
  color: rgb(255, 42, 148);
  font-family: "Comfortaa", cursive;
  font-family: "Cormorant Garamond", serif;
  font-family: "Gentium Plus", serif;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 30px;
  display: none;
}

.nav-link {
  color: rgb(226, 151, 126);
  font-size: 30px;
  margin: 10px;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: rgb(226, 151, 126);
}

.logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(252, 225, 233);
}

.logo a img {
  max-width: 100%;
}

main {
  grid-area: principal;
  background-color: rgb(223, 252, 252);
  font-family: "Comfortaa", cursive;
  font-family: "Cormorant Garamond", serif;
  font-family: "Gentium Plus", serif;
}

.descripcion {
  font-family: Gentium Plus;
  background-color: rgb(223, 252, 252);
  text-align: justify;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;
  font-size: 20px;
}

footer {
  grid-area: pie;
  background-color: rgb(221, 221, 221);
}

.btnFooter {
  background-color: palevioletred;
  border: solid 1px rgb(226, 151, 126);
  border-radius: 5px;
  width: 100%;
}

.contenedorSociales a {
  font-size: 20px;
}

.redes {
  text-align: center;
}

.contenedorSociales {
  margin-left: 20px;
  font-size: 20px;
  color: rgb(228, 85, 109);
}

.bandera {
  text-align: center;
}

.chef {
  margin-left: 20px;
}

.chef a {
  color: rgb(228, 85, 109);
}

.company {
  color: rgb(228, 85, 109);
}

@media screen and (max-width: 530px) {
  header h1 {
    display: none;
  }

  .nav-link {
    font-size: 20px;
  }

  .navbar-brand {
    display: block;
  }
}
